* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: aliceblue; */
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100%;
    background-color: rgb(179, 232, 232);
    overflow-x: none;
}

.nav-container {
    width: 100vw;
    height: 60px;
    padding: 10px;
    background-color: rgb(78 78 131);
    color: aliceblue;
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-list h1 {
    font-weight: 600;
}

#nav-list h1:hover {
    color: #26f706;
    cursor: pointer;
}

#nav-list a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
}

#nav-list a:hover {
    color: #26f706;
    cursor: pointer;
}

.content-box {
    width: 80%;
    margin: auto;
    border: 2px solid rgb(7, 235, 45);
    background-color: azure;
    /* text-align: start; */
}

.items {
    display: flex;
    justify-content: space-between;
}

.content-box img {
    height: 100px;
}

.footer-box {
    color: aliceblue;
    background-color: rgb(78 78 131);
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}